oneM2M node-red tutorial.json
[
    {
        "id": "8874720f439d8f2b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e9c0663c070995aa",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4c5d7a9f63b46327",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b8da4d0ec38afa55",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f980960ce61a13dd",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": ""
    },
    {
        "id": "45bc28f0a40526b4",
        "type": "tab",
        "label": "Flow 6",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8afedcb8053c9512",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "e6abea1276a894c9",
        "type": "ui_tab",
        "name": "myDash",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8e8bb1a01d296ee0",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "250aef0f7ca23119",
        "type": "ui_group",
        "name": "guage test",
        "tab": "e6abea1276a894c9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4f24a368b05dc3ec",
        "type": "inject",
        "z": "8874720f439d8f2b",
        "name": "set headers",
        "props": [
            {
                "p": "headers",
                "v": "{\"X-M2M-RI\":\"1234\",\"X-M2M-Origin\":\"SM\",\"Accept\":\"application/json\"}",
                "vt": "json"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "request test",
        "x": 210,
        "y": 440,
        "wires": [
            [
                "923c479ec4c0e25d"
            ]
        ]
    },
    {
        "id": "923c479ec4c0e25d",
        "type": "http request",
        "z": "8874720f439d8f2b",
        "name": "CSEBase retrieve",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "localhost:7579/Mobius",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 350,
        "y": 520,
        "wires": [
            [
                "fefee181897c6d43"
            ]
        ]
    },
    {
        "id": "fefee181897c6d43",
        "type": "debug",
        "z": "8874720f439d8f2b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 600,
        "wires": []
    },
    {
        "id": "ab4005121c43587f",
        "type": "inject",
        "z": "8874720f439d8f2b",
        "name": "inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "hello node-red",
        "payloadType": "str",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "27ce7077b70761dd"
            ]
        ]
    },
    {
        "id": "27ce7077b70761dd",
        "type": "debug",
        "z": "8874720f439d8f2b",
        "name": "my debug",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 260,
        "wires": []
    },
    {
        "id": "33e24b36f3a31d0b",
        "type": "mqtt in",
        "z": "e9c0663c070995aa",
        "name": "",
        "topic": "/oneM2M/req/Mobius2/nodered/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "8afedcb8053c9512",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 250,
        "y": 540,
        "wires": [
            [
                "89603c9f645c8af4"
            ]
        ]
    },
    {
        "id": "ce83b6a2e6109936",
        "type": "http in",
        "z": "e9c0663c070995aa",
        "name": "noti receiver",
        "url": "/noti",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 260,
        "wires": [
            [
                "cbf1a6021c3dec23",
                "43b1bfeacb7ab806",
                "c4f460f52fabd583"
            ]
        ]
    },
    {
        "id": "cbf1a6021c3dec23",
        "type": "http response",
        "z": "e9c0663c070995aa",
        "name": "noti response",
        "statusCode": "200",
        "headers": {},
        "x": 380,
        "y": 280,
        "wires": []
    },
    {
        "id": "43b1bfeacb7ab806",
        "type": "debug",
        "z": "e9c0663c070995aa",
        "name": "debug1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 220,
        "wires": []
    },
    {
        "id": "89603c9f645c8af4",
        "type": "debug",
        "z": "e9c0663c070995aa",
        "name": "debug2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 620,
        "wires": []
    },
    {
        "id": "c4f460f52fabd583",
        "type": "function",
        "z": "e9c0663c070995aa",
        "name": "parse noti",
        "func": "const noti = msg.payload;\n\nconst con = noti['m2m:sgn'].nev.rep['m2m:cin'].con;\nconst timestamp = noti['m2m:sgn'].nev.rep['m2m:cin'].lt;\n\nmsg.payload = {con, timestamp};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 340,
        "wires": [
            [
                "3cff823e3a3f4bdb"
            ]
        ]
    },
    {
        "id": "3cff823e3a3f4bdb",
        "type": "debug",
        "z": "e9c0663c070995aa",
        "name": "debug3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 400,
        "wires": []
    },
    {
        "id": "b66bdf63e516cb86",
        "type": "aggregator",
        "z": "4c5d7a9f63b46327",
        "name": "simple avg",
        "topic": "",
        "intervalCount": "3",
        "intervalUnits": "s",
        "submitIncompleteInterval": true,
        "submitPerTopic": false,
        "aggregationType": "mean",
        "x": 310,
        "y": 340,
        "wires": [
            [
                "7ce13489168bb21b"
            ]
        ]
    },
    {
        "id": "e8976f37f96b0fac",
        "type": "inject",
        "z": "4c5d7a9f63b46327",
        "name": "timer",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "aggregator test",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "b169a953d0fbc3fc"
            ]
        ]
    },
    {
        "id": "b169a953d0fbc3fc",
        "type": "function",
        "z": "4c5d7a9f63b46327",
        "name": "generate random number",
        "func": "msg.payload = Math.round(Math.random() * 10);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 260,
        "wires": [
            [
                "b66bdf63e516cb86",
                "2be3131fe184af01"
            ]
        ]
    },
    {
        "id": "7ce13489168bb21b",
        "type": "debug",
        "z": "4c5d7a9f63b46327",
        "name": "avg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 420,
        "wires": []
    },
    {
        "id": "2be3131fe184af01",
        "type": "debug",
        "z": "4c5d7a9f63b46327",
        "name": "rand",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 200,
        "wires": []
    },
    {
        "id": "f337f63f3cd53646",
        "type": "inject",
        "z": "b8da4d0ec38afa55",
        "name": "inject",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "aggregator test",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "1a0524c1fb0d5f3f"
            ]
        ]
    },
    {
        "id": "1a0524c1fb0d5f3f",
        "type": "function",
        "z": "b8da4d0ec38afa55",
        "name": "generate random number",
        "func": "msg.payload = Math.round(Math.random() * 10);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 160,
        "wires": [
            [
                "d256574df2ac7d42",
                "00c32c654d52ba9d"
            ]
        ]
    },
    {
        "id": "00c32c654d52ba9d",
        "type": "debug",
        "z": "b8da4d0ec38afa55",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 200,
        "wires": []
    },
    {
        "id": "d256574df2ac7d42",
        "type": "function",
        "z": "b8da4d0ec38afa55",
        "name": "validator",
        "func": "const value = msg.payload;\n\nif (value > 3) {\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 240,
        "wires": [
            [
                "787771930bdefac4"
            ]
        ]
    },
    {
        "id": "787771930bdefac4",
        "type": "e-mail",
        "z": "b8da4d0ec38afa55",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "iotketi@gmail.com",
        "dname": "email alert",
        "x": 510,
        "y": 280,
        "wires": []
    },
    {
        "id": "1fefb23cf6d8d342",
        "type": "worldmap",
        "z": "f980960ce61a13dd",
        "name": "map test",
        "lat": "37.40407620364385",
        "lon": "127.16075093810606",
        "zoom": "16",
        "layer": "OSM",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "x": 440,
        "y": 380,
        "wires": []
    },
    {
        "id": "090d41e702799b4c",
        "type": "inject",
        "z": "f980960ce61a13dd",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "map",
        "payloadType": "str",
        "x": 240,
        "y": 220,
        "wires": [
            [
                "2e54b3a14a36e1c4"
            ]
        ]
    },
    {
        "id": "2e54b3a14a36e1c4",
        "type": "function",
        "z": "f980960ce61a13dd",
        "name": "generate random temperature",
        "func": "msg.payload = {\n    name: 'keti',\n    lon: 127.16024434791323,\n    lat: 37.403893975150396,\n    label: Math.round(Math.random() * 40) + '℃'\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 300,
        "wires": [
            [
                "1fefb23cf6d8d342",
                "e3ce20cb25ae620d"
            ]
        ]
    },
    {
        "id": "e3ce20cb25ae620d",
        "type": "debug",
        "z": "f980960ce61a13dd",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 460,
        "wires": []
    },
    {
        "id": "481a8f73f49bfb1a",
        "type": "aggregator",
        "z": "45bc28f0a40526b4",
        "name": "simple avg",
        "topic": "",
        "intervalCount": "3",
        "intervalUnits": "s",
        "submitIncompleteInterval": true,
        "submitPerTopic": false,
        "aggregationType": "mean",
        "x": 230,
        "y": 240,
        "wires": [
            [
                "b8ae40f7e2e7645e",
                "1f0dd03dbaf19648"
            ]
        ]
    },
    {
        "id": "7a985abcab66f27d",
        "type": "inject",
        "z": "45bc28f0a40526b4",
        "name": "timer",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "aggregator test",
        "payloadType": "str",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "29d27059d5d33f3f"
            ]
        ]
    },
    {
        "id": "29d27059d5d33f3f",
        "type": "function",
        "z": "45bc28f0a40526b4",
        "name": "generate random number",
        "func": "msg.payload = Math.round(Math.random() * 10);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 160,
        "wires": [
            [
                "481a8f73f49bfb1a",
                "78e41a0939978cd5",
                "f7503fbc4f28364f"
            ]
        ]
    },
    {
        "id": "b8ae40f7e2e7645e",
        "type": "debug",
        "z": "45bc28f0a40526b4",
        "name": "avg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 320,
        "wires": []
    },
    {
        "id": "78e41a0939978cd5",
        "type": "debug",
        "z": "45bc28f0a40526b4",
        "name": "rand",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 100,
        "wires": []
    },
    {
        "id": "f7503fbc4f28364f",
        "type": "ui_gauge",
        "z": "45bc28f0a40526b4",
        "name": "rand",
        "group": "250aef0f7ca23119",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "rand",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 480,
        "y": 180,
        "wires": []
    },
    {
        "id": "1f0dd03dbaf19648",
        "type": "ui_gauge",
        "z": "45bc28f0a40526b4",
        "name": "avg",
        "group": "250aef0f7ca23119",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "avg",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 470,
        "y": 260,
        "wires": []
    }
]